<header>
    <h1><a href='{{ site.url }}/'>{{ site.name }}</a></h1>

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
            inlineMath: [['$','$']]
          }
        });
      </script>
      <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script> 
</header>
<a href='{{ site.url }}/'>início</a> | <a href='{{ site.url }}/archive/'>arquivo</a> | <a href='{{ site.url }}/about/'>sobre</a>
<hr>
