<header>
    <h1><a href='{{ site.url }}/'>{{ site.name }}</a></h1>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$$','$$'], ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\(","\\)"] ],
        },
        TeX: {
          Macros: {
            bra: ["\\langle{#1}|", 1],
            ket: ["|{#1}\\rangle", 1],
            braket: ["\\langle{#1}\\rangle", 1],
            bk: ["\\langle{#1}|{#2}|{#3}\\rangle", 3]
         }
       }
      });
    </script>
    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-MML-AM_CHTML' async></script>
    
</header>
<a href='{{ site.url }}/'>início</a> | <a href='{{ site.url }}/archive/'>arquivo</a> | <a href='{{ site.url }}/about/'>sobre</a>
<hr>
