---
layout: galeano
---

<h1>{{ page.title }}{{ page.shortUrl }}</h1>

<!-- <div class='separator'><br/></div>         -->
<!-- {{ content | toc }} -->

<div>
    <div id="table-of-contents">
        {% toc %}
    </div>
    <div id="markdown-content">
        {{ content }}
    </div>
    <small>tags: <i>{{ page.tags | join: ", "}}</i></small>
</div>
        
{% if site.disqus-id %} {% include comments.html %} {% endif %}

<script>
    var headings = document.querySelectorAll("h2[id]");

    for (var i = 0; i < headings.length; i++) {
        headings[i].innerHTML =
          '<span class="ss"><a href="#' + headings[i].id + '">' + '&#xa7;' + '</a></span> ' + headings[i].innerText;
    }
</script>