---
layout: galeano
---

<h1>{{ page.title }}{{ page.shortUrl }}</h1>

{% include toc.html html=content h_max=3 class="section-nav" %}

{{ content }}

<small>tags: <i>{{ page.tags | join: ", "}}</i></small>
        
{% if site.disqus-id %} {% include comments.html %} {% endif %}

<script>
    var headings = document.querySelectorAll("h2[id]");

    for (var i = 0; i < headings.length; i++) {
        headings[i].innerHTML =
          '<span class="ss"><a href="#' + headings[i].id + '">' + '&#xa7;' + '</a></span> ' + headings[i].innerText;
    }
</script>